---
pageTitle: "ArenaDecks.com: Super Fresh Decks"
layout: site.liquid
---

<div class="container">
    <div class="row">

        <!-- Content AreaSS -->
        <div class="col-sm-6">
        <hr />
            {{ content }}
        </div>

        <!-- Recent Content Bar -->
        <div class="col-sm-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <h2>Latest Posts</h2>
                        <hr />
                    </div>
                </div>
                {% assign latest_posts = collections.posts | reverse | slice:0, 3 %}
                {% for post in latest_posts %}
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="{{ post.url | url }}">
                                <img class="img-fluid" style="position: sticky; top: 10px;" 
                                {% if post.data.SocialCardImage == blank %}
                                src="https://static.arenadecks.com/img/Social/Default.webp" 
                                {% else %}
                                src="https://static.arenadecks.com/img/Social/{{post.data.SocialCardImage}}.webp" 
                                {% endif %}>
                            </a>
                        </div>
                        <div class="col-sm-7 d-none d-sm-block">
                            <a href="{{ post.url | url }}" class="text-reset text-decoration-none"><h6>{{ post.data.pageTitle }}</h6></a>
                            <hr />
                            {{ post.data.description}}
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr />
                        </div>
                    </div>
                {% endfor %}
                 <div class="row">
                    <div class="col-sm-5">
                        <a href="/archive/">
                            <img class="img-fluid" style="position: sticky; top: 10px;" src="https://static.arenadecks.com/img/Nav/Archive_Big.png" />
                        </a>
                    </div>
                    <div class="col-sm-7 d-none d-sm-block">
                        <a href="/archive/" class="text-reset text-decoration-none"><h6>Archive</h6></a>
                        <hr />
                        See all my previous posts in the archive.
                    </div>     
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
